*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
    padding-block: 15px;
}
.galeria {
    display: columns;
    columns: 3;
}

img {
    width: 100%;
    padding-block: 7px;
}

